*{
    padding: 0;
    margin: 0;
}
.contener{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 3px 3px 5px rgb(187, 178, 178);
}
.cintend-1{
    display: flex;
    justify-content: center;
}
.cintend-1 img{
    height: 60px ;
    width: 60px;
    align-items: center;
}
.cintend-1 h1{
    font-family: Work Sans;
    align-items: center;
    font-size: 50px;
}
span{
    color:rgb(242, 5, 250)
}
.contend-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contend-2 li{
    list-style: none;
    margin-right: 25px;
    font-family: Work Sans;
    font-size: 20px;
}
.icon-ber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}
.icon-ber p{
    color: #3C354F;
    font-family: Work Sans;
    font-size: 20px;
} 
.icon-ber img{
    width: 33.916px;
    height: 24px;
}
/* end navber---------------------------*/
.banner-contener{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.banner-text h4{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
}
.banner-text h1{
    text-align: center;
 font-family: Work Sans;
 font-size: 95px;
 color: #F948B2;
}
.banner-text li{
    list-style: none;
    margin-left: 5%;
    color: #534C64;
   font-size: 20px;
}
.banner-text button{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    margin-top: 20px;
}
.banner-text .banner-btn-1{
    background-image: linear-gradient( pink,rgb(252, 85, 229));
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
}
.banner-text .banner-btn-2{
    background-image: linear-gradient( rgb(240, 192, 255),rgb(252, 51, 225));
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
}
.banner-imgess img{
    width: 100%;
}
/* end banner part------------ */
.we-are-gamer{
    display: flex;
    padding: 10px;
}

.gamer-text{
   text-align: right;
 margin-top: 10%;
}
.gamer-text h1{
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-text p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}
.gamer-text button{
    display: inline-flex;
   padding: 17px 40px;
   align-items: flex-start;
   border-radius: 48px;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    margin:10px 0;
}
.gamer-text h4{
    color: #534C64;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 500;
    line-height: 45px;
}
/* end we are gamer------- */
.online-game-card{
    padding: 20px;
    margin-top: 10px;

}
.online-game-text h1{
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
}
.online-game-text p{
    color: #534C64;
   text-align: center;
    font-family: Work Sans;
   font-size: 18px;
}
.online-caeds{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    gap: 16px;
}
.card img{
    width: 300px;
    margin-top: 30px;
}
.card p{
    color: #534C64;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
}
/* end online-games-card--------- */
.Careers-section{
    width: 100%;
    background-color: #e748a8;
}
.Careers-h1{
    color: #FFF;
   font-family: Work Sans;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 60px;
   margin-left: 2%;
}.Careers-contener{
    display: flex;
    justify-content: space-around;
}
.Careers-text{
    padding: 20px;
    align-items: center;
}
.Careers-text-one p{
    color: #FFF;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.Careers-text-tow{
    display: flex;
    justify-content: space-between;
}
.left-text{
    text-align: left;
    color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 40px; 
}
.right-text{
    text-align: right;
    color: #FFF;
   text-align: right;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 40px; 
}
.Careers-text button{
    display: inline-flex;
   padding: 15px 35px;
   align-items: flex-start;
   border-radius: 48px;
   background: #FFF;
   border: none;
   font-family: Work Sans;
   font-size: 13px;
   text-transform: uppercase;
}
.Careers-imges img{
    width: 700px;
    height: 550px;
    flex-shrink: 0;
}
/* end Careers sections- */
.icon-imges{
    width:100%;
    height: 50vh;
    padding-top:50px ;
   
}
.icone-imege-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.icone-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 15px;
}
/* end icons sections---------- */
footer{
    width: 100%;
    background-color: #0B0223;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.main-header img{
    height: 35px;
}
.main-header h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 55px;
}
.list-item2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   list-style: none;
   gap: 15px;
}
.list-item2 li{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.list-icons{
    padding: 15px;
}
.list-items4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}
.list-items4 li{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer-last-p p{
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px;
}
/* end footer--------- */
/* staet media quare-- mobile -------------------------------------------------------------------------*/
 @media screen and (max-width: 576px) {
    .contener,
    .contend-2,
    .banner-contener,
    .we-are-gamer,
    .Careers-contener{
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
    }
    .banner-text li{
        margin-left: 0%;
    }
    .banner-contener{
        height: 100vh;
    }
    .online-caeds{
       flex-direction: column;
      padding: 40px;
    }
    .gamer-text{
        text-align: center;
     }
     .gamer-imges img{
        width: 100%;
    }
    .Careers-imges img{
       width: 100%;
    }
    .Careers-section{
        width: 100%;
        background-color: #e748a8;
        padding: 0;
    }



 }
 /* staet media quare-- tablet -------------------------------------------------------------------------*/
 @media screen and (min-width:577px) and (max-width:992px) {
    .contener,
    .contend-2,
    .banner-contener,
    .we-are-gamer,
    .Careers-contener{
        flex-direction: column;
        margin-top: 10px;
        justify-content: center;
    }
    .banner-text li{
        margin-left: 0%;
    }
    .banner-contener{
        height: 180vh;
    }
    .online-caeds{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: 40px;
    }
    .gamer-text{
        text-align: center;
     }
     .gamer-imges img{
        width: 100%;
    }





 }